server:
#  port: ${PORT:8080}
  port: 8080

spring:
  application:
    name: goodFirstIssueBot

  profiles:
    active: ${APP_ENV:dev}

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate

  liquibase:
    change-log: classpath:db/changelog/changelog-master.xml

  mvc:
    hiddenmethod:
      filter:
        enabled: true

  rabbitmq:
    host: ${RABBITMQ_HOST:localhost}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USERNAME:guest}
    password: ${RABBITMQ_PASSWORD:guest}

github_token: ${GITHUB_TOKEN:}

telegram-bot:
  webhook-path: ${TG_BOT_WEBHOOK_PATH:https://cf08-185-90-100-153.ngrok-free.app}
  bot-username: ${TG_BOT_USERNAME:goodfirstissue_bot}
  bot-token: ${TG_BOT_TOKEN:}
  my-id: ${TG_MY_ID:}